.ItemContainer {
  margin: 2rem 0;
  border: 1px solid var(--gray-800);
  padding: 1rem;
  
  strong{
    color: #eba417;
    font-size: 1.25rem;
  }


  li{
    list-style-type: none;
  }

  a {
    padding: 0.5rem;
    color: #fff;
    border-radius: 0.8rem;
    margin-left: 920px;
    background: #238636;

    transition: filter 0.3s;

    &:hover{
      filter: brightness(0.7)
    }
  }

  p {
    color: #ffff;
    font-size: 0.8125rem;
  }
}

.titleContainer {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  strong {
  margin-right: 1.5rem;
  }

  p {
    color: #000;
    font-size: 0.8125rem;
    padding: 0.35rem;
    border: 1px solid #000;
    border-radius: 1rem;

  }

}