* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --gray-800: #29292e;
  --gray-300: #a8a8b3;
}

body {
  background: #121214;
}

body, input, textarea, select, button {
  font: 400 1rem "Roboto", sans-serif;
}