.headerContainer {
  height: 6rem;
  border-bottom: 1px solid var(--gray-800);

  strong {
    color: #ffff;
    
    span {
      color: #eba417;
    }
  }

}

.contentContainer {
  max-width: 1220px;
  height: 6rem;
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  nav {
   
    height: 6rem;

    a {
      display:inline-block;
      position: relative;
      padding: 0 0.5rem;
      height: 6rem;
      line-height: 6rem;
      color: var(--gray-300);

      transition: color 0.3s;

      &:hover {
        color: #ffff;
      }

      & + a {
        margin-left: 2rem;
      }
    }
  }
}
